<main>
  <div class= "container">
    <div class= "row">
      <div class= "col">
        <h2>注文履歴詳細</h2>
        <table class= "table">
            <tr>
              <th>購入者</th>
              <td>
                <%= @customer.last_name %>
                <%= @customer.first_name %>
              </td>
            </tr>
            <tr>
              <th>注文日</th>
              <td><%= @customer.created_at %></td>
            </tr>
            <tr>
              <th>配送先</th>
              <td><%= @customer.address %></td>
            </tr>
            <tr>
              <th>支払方法</th>
              <td><%= @order.payment_method_i18n %></td>
            </tr>
            <tr>
              <%= form_with model: @order, url: admin_order_path(@order.id) do |order| %>
              <th>注文ステータス</th>
              <td>
                <%= order.select :order_status, Order.order_statuses.keys.map {|k| [I18n.t("enums.order.order_status.#{k}"), k]}, include_blank: "選択して下さい" %>
                <%= order.submit "更新", class: "btn btn-success" %>
              </td>
              <% end %>
            </tr>
        </table>
        <div class= "row">
          <div class= "col-md-9">
            <table class = "table">
                <tr class= "bg-light">
                  <th>商品名</th>
                  <th>単価（税込）</th>
                  <th>数量</th>
                  <th>小計</th>
                  <th>製作ステータス</th>
                  <th></th>
                </tr>
              <% @order.order_detailes.each do |order_detail| %>
              <tr>
                <td><%= order_detail.item.product_name %></td>
                <td><%= (order_detail.item.price * 1.1).floor %></td>
                <td><%= order_detail.amount %></td>
                <td><%= (order_detail.item.price * 1.1).floor * order_detail.amount %></td>
                <td><% @sum = @sum + (order_detail.item.price * 1.1).floor * order_detail.amount %></td>
                <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id) do |order| %>
                  <td>
                    <%= order.select :making_status, OrderDetaile.making_statuses.keys.map {|k| [I18n.t("enums.order_detaile.making_status.#{k}"), k]}, include_blank: "選択して下さい" %>
                    <%= order.submit "更新", class: "btn btn-success" %>
                  </td>
                <% end %>
              </tr>
              <% end %>
            </table>
          </div>
          <div class= "col-lg-3">
            <table>
              <tr>
                <th>商品合計</th>
                <td><%= @sum %>円</td>
              </tr>
              <tr>
                <th>送料</th>
                <td><%= @order.shipping_cost %>円</td>
              </tr>
              <tr>
                <th>請求金額合計</th>
                <td><%= @order.billing_amount %>円</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>