<main>
  <div class= "container px-5 px-sm-0">
    <div class= "row">
      <div class= "col-md-4">
        <% if @item.image.attached? %>
          <%= image_tag @item.image, size: "300x300" %>
        <% else %>
          <%= image_tag 'no_image', size: "300x300" %>
        <% end %>
      </div>
      <div class= "col-md-8">
        <div class= "table">
          <thead>
            <tr>
              <h2>
                <th>
                  <div class= "pb-5">
                    <%= @item.product_name %>
                  </div>
                  </th>
              </h2>
              <h4>
                <td><%= @item.introduction %></td>
              </h4>
            </tr>
          </thead>
          <tbody>
            <tr>
              <h2>
                <th>¥<%= (@item.price * 1.1).floor.to_s(:delimited) %>（税込）</th>
              </h2>
              <td>
                <% if current_customer %>
                  <%= form_with model: @cart_item, url: public_cart_items_path do |f| %>
                    <%= f.hidden_field :item_id, :value => @item.id %>
                    <%= f.hidden_field :customer_id, :value => @customer.id %>
                    <%= f.label :amout, '個数選択' %>
                    <%= f.select :amount, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
                    <%= f.submit "カートに追加", class: "btn btn-success" %>
                  <% end %>
                <% else %>
                  <%= link_to "ログインはこちら＞", new_customer_session_path, class: "text-primary" %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </div>
      </div>
    </div>
  </div>
</main>